@import '../../../_sass/variables';

.polls-list {
  .doc-link {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    background-size: contain;
    background-image: url(/images/document.svg);

    &:not(:first-child) {
      margin-left: 0.4rem;
    }
  }

  .poll-value {
    width: 2rem;
    margin: 0;
    padding: 0.3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
  }

  table {
    th {
      div {
        transform: rotate(-45deg);
        padding-left: 0.5rem;
      }
    }
    tbody {
      font-size: smaller;
    }
  }
}
