<meta name="application-name" content="SixFifty"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ '/images/favicon/apple-touch-icon-57x57.png' | prepend: site.url | prepend: site.baseurl }}" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ '/images/favicon/apple-touch-icon-114x114.png' | prepend: site.url | prepend: site.baseurl }}" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ '/images/favicon/apple-touch-icon-72x72.png' | prepend: site.url | prepend: site.baseurl }}" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ '/images/favicon/apple-touch-icon-144x144.png' | prepend: site.url | prepend: site.baseurl }}" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ '/images/favicon/apple-touch-icon-60x60.png' | prepend: site.url | prepend: site.baseurl }}" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ '/images/favicon/apple-touch-icon-120x120.png' | prepend: site.url | prepend: site.baseurl }}" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ '/images/favicon/apple-touch-icon-76x76.png' | prepend: site.url | prepend: site.baseurl }}" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ '/images/favicon/apple-touch-icon-152x152.png' | prepend: site.url | prepend: site.baseurl }}" />
<link rel="icon" type="image/png" sizes="196x196" href="{{ '/images/favicon/favicon-196x196.png' | prepend: site.url | prepend: site.baseurl }}" />
<link rel="icon" type="image/png" sizes="96x96" href="{{ '/images/favicon/favicon-96x96.png' | prepend: site.url | prepend: site.baseurl }}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/images/favicon/favicon-32x32.png' | prepend: site.url | prepend: site.baseurl }}" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/images/favicon/favicon-16x16.png' | prepend: site.url | prepend: site.baseurl }}" />
<link rel="icon" type="image/png" sizes="128x128" href="{{ '/images/favicon/favicon-128.png' | prepend: site.url | prepend: site.baseurl }}" />
<meta name="msapplication-TileImage" content="{{ '/images/favicon/mstile-144x144.png' | prepend: site.url | prepend: site.baseurl }}" />
<meta name="msapplication-square70x70logo" content="{{ '/images/favicon/mstile-70x70.png' | prepend: site.url | prepend: site.baseurl }}" />
<meta name="msapplication-square150x150logo" content="{{ '/images/favicon/mstile-150x150.png' | prepend: site.url | prepend: site.baseurl }}" />
<meta name="msapplication-wide310x150logo" content="{{ '/images/favicon/mstile-310x150.png' | prepend: site.url | prepend: site.baseurl }}" />
<meta name="msapplication-square310x310logo" content="{{ '/images/favicon/mstile-310x310.png' | prepend: site.url | prepend: site.baseurl }}" />
