<div class="footer">
  <p class="social-media">
    <a href="https://twitter.com/SixFiftyData">@SixFiftyData</a><br>
    <a href="mailto:contact@sixfifty.org.uk">contact@sixfifty.org.uk</a><br>
    <a href="https://github.com/six50">GitHub</a>
  </p>
  <p class="disclaimer">
    SixFifty is a non-partisan project and will remain independent and neutral with respect to all content, modelling and analysis it produces.
  </p>
  <p class="copyright">
    &copy; {{ site.time | date: '%Y' }}
    <a href="{{ site.url }}" title="{{ site.description }}">
      <strong>{{ site.title }}</strong>
    </a>
  </p>
</div>
