<div class="footer">
  <p class="social-media">
    <a href="https://twitter.com/SixFiftyData">@SixFiftyData</a><br>
    <a href="mailto:contact@sixfifty.org.uk">contact@sixfifty.org.uk</a><br>
    <a href="https://github.com/six50">GitHub</a>
  </p>
  <p class="disclaimer">
    SixFifty is and will remain wholly independent and neutral with respect to all content, modelling and analysis it produces. We volunteer our time as we believe that a non-partisan and truly unbiased source of data journalism is both rare and valuable.
  </p>
  <p class="copyright">
    &copy; {{ site.time | date: '%Y' }}
    <a href="{{ site.url }}" title="{{ site.description }}">
      <strong>{{ site.title }}</strong>
    </a>
  </p>
</div>
