<div class="footer">
  <div class="pull-left">
    <p>
      <a href="https://twitter.com/SixFiftyData">@SixFiftyData</a><br>
      <a href="mailto:contact@sixfifty.org.uk">contact@sixfifty.org.uk</a><br>
      <a href="https://github.com/six50">GitHub</a>
    </p>
  </div>
  <div class="pull-right">
    <p class="copyright">
      <span class="pull-right">
        &copy; {{ site.time | date: '%Y' }}
        <a href="{{ site.url }}" title="{{ site.description }}">
          <strong>{{ site.title }}</strong>
        </a>
      </span>
    </p>
  </div>
</div>
