<section class="site-intro">
  <div class="name-banner">
    <h1>SixFifty</h1>
  </div>
  <p>
    SixFifty is a collaboration of data scientists, software engineers, journalists and political experts dedicated to bringing a rigorous, data-oriented, and impartial view to the 2017 UK general election. Our goal is to understand why forecasting elections in the UK using open data is notoriously difficult, and to see how far good statistical practice and modern machine learning methods can take us.
  </p>
  <p>
    SixFifty is and will remain wholly independent and neutral with respect to all content, modelling and analysis it produces. We volunteer our time as we believe that a non-partisan and truly unbiased source of data journalism is both rare and valuable.
  </p>
</section>
