<p class="site-nav">
  <sixfifty-logo
    data='{% raw %}{{% endraw %}{{ site.data.current_polls.polls | jsonify }}{% raw %}}{% endraw %}'
    colours='{% raw %}{{% endraw %}{{ site.data.colours.parties | jsonify }}{% raw %}}{% endraw %}'
  ></sixfifty-logo>
    <a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">SixFifty</a>
  / <a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About</a>
  / <a href="{{ '/posts' | prepend: site.baseurl | prepend: site.url }}">Posts</a>
</p>
