<meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% endif %}" />
<meta property="og:image" content="{% if page.header_image %}{{ page.header_image | prepend: '/images/header_images/' | prepend: site.base_url | prepend: site.url }}{% else %}{{ '/images/logo.png' | prepend: site.base_url | prepend: site.url }}{% endif %}" />
<meta property="og:site_name" content="SixFifty" />
