<section class="poll-tracker">
  <h4>UK General Election 2017 Poll Tracker (last updated Thu 4th May)</h4>
  <div
    id="polls-tracker"
    data-colours="{{ site.data.constants.colours | jsonify | escape_once }}"
    data-names="{{ site.data.constants.names_short | jsonify | escape_once }}"
    data-url="http://s3-eu-west-1.amazonaws.com/sixfifty/poll_tracker.json.gz"
  >
    <div class="graph"></div>
  </div>
  <p class="links">
    <a href="https://github.com/six50/analysis/tree/master/poll-tracker">Source code</a> | <a href="https://github.com/six50/pipeline/tree/master/data/polls">Raw data</a>
  </p>
</section>
