@import 'utils';

$banner-size: 2rem;

.site-intro {
  max-width: $max-width;
  border-bottom: 1px solid $grey-color-light;
  padding-bottom: 1rem;

  .name-banner {
    @include hidden-mobile;

    border-bottom: 1px solid $grey-color-light;
    margin-bottom: $spacing-unit;

    h1 {
      font-size: $banner-size;
      font-weight: 600;
      margin-bottom: 0;
    }
  }

  .poll-tracker {
    margin-left: 20px;

    h4 {
      margin-left: 45px;
    }

    p {
      text-align: right;
    }
  }

  p {
    font-style: italic;
    font-size: $small-font-size;
  }
}
