/**
 * Site header
 */
.site-header {
    max-width: $max-width;
    p {
      font-size: $small-font-size;
    }
}

.site-nav {
    border-bottom: 1px solid $grey-color-light;
    height: $nav-height;

    sixfifty-logo {
        width: $nav-height;
        height: $nav-height;
        float: left;
    }

    ul {
        display: inline-block;
        list-style: none;
        margin-left: 0;

        li {
            float: left;

            height: $nav-height;
            line-height: $nav-height;

            border-left: 1px solid $grey-color-light;

            &:last-child {
                border-right: 1px solid $grey-color-light;
            }

            a {
                display: inline-block;
                height: 100%;
                width: 100%;

                padding-left: $nav-item-spacing / 2;
                padding-right: $nav-item-spacing / 2;
            }
        }
    }
}

/**
 * Intro
 */
.site-intro {
    font-style: italic;
}

/**
 * Page content
 */
.page-content {
    position: relative;
    padding: ($spacing-unit * 0.5) ($spacing-unit * 0.75);
    margin: 1rem;
    box-sizing: border-box;
    max-width: $max-width;
}
/**
 * Pages
 */
.home {
    section + section {
        margin-top: $spacing-unit;
        max-width: $max-width;
    }
}

.post-list > li {
    margin-bottom: $spacing-unit / 4;
    list-style-type: none;
    margin-left: -2rem;

    a,
    a:hover {
        color: $text-color;
        font-size: larger;
        font-weight: bold;
        text-decoration: none;
    }

    a.read-more {
        font-size: small;
    }

    time {
        font-size: $small-font-size;
        color: $grey-color;
    }
    @include media-query($on-palm) {
        time {
            display: block;
            font-size: $small-font-size;
        }
    }

    p {
        font-size: $small-font-size;

        a,
        a:hover {
            font-size: $small-font-size;
        }
    }
}

.tag-title {
    color: $link-color;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 2rem;
    letter-spacing: -1px;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    a, a:visited {
      color: $grey-color-dark;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 2rem;
    }

    h1,
    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    h5,
    h6 {
        font-size: 1rem;
    }
}

.footer {
  margin-top: $spacing-unit;
  font-size: $small-font-size;
  padding-top: 12px;
  border-top: 1px solid $grey-color-light;

  p {
    color: $grey-color;
    a, a:visited {
      color: $grey-color-dark;
    }
  }
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

/**
 * Content
 */

.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}

.footnotes {
    font-size: small;
}
