@import 'utils';

.page-content {
  position: relative;
  padding: ($spacing-unit * 0.5) ($spacing-unit * 0.75);
  margin: 1rem;
  box-sizing: border-box;
  max-width: $max-width;

  @include media-query($on-mobile) {
    margin-top: 3rem;
  }
}

.home {
  section + section {
    margin-top: $spacing-unit;
    max-width: $max-width;
  }
}

.tag-title {
  color: $link-color;
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}

.footer {
  margin-top: $spacing-unit;
  font-size: $small-font-size;
  padding-top: 12px;
  border-top: 1px solid $grey-color-light;

  p {
    color: $grey-color;

    a, a:visited {
      color: $grey-color-dark;
    }
  }
}
