.site-nav {
  border-bottom: 1px solid $grey-color-light;
  height: $nav-height;

  sixfifty-logo {
    width: $nav-height;
    height: $nav-height;
    float: left;
  }

  ul {
    display: inline-block;
    list-style: none;
    margin-left: 0;

    li {
      float: left;

      height: $nav-height;
      line-height: $nav-height;

      border-left: 1px solid $grey-color-light;

      &:last-child {
        border-right: 1px solid $grey-color-light;
      }

      a {
        display: inline-block;
        height: 100%;
        width: 100%;

        padding-left: $nav-item-spacing / 2;
        padding-right: $nav-item-spacing / 2;
      }
    }
  }
}
