@import 'utils';

$logo-size: 4rem;

.site-intro {
  max-width: $max-width;
  border-bottom: 1px solid $grey-color-light;
  padding-bottom: 1rem;

  .logo-banner {
    @include hidden-mobile;

    border-bottom: 1px solid $grey-color-light;
    margin-bottom: $spacing-unit;

    h1 {
      font-size: $logo-size;
      line-height: $logo-size;
      font-weight: 600;
      margin-left: $logo-size + ($spacing-unit / 2);
    }

    sixfifty-logo {
      width: $logo-size;
      float: left;
    }
  }

  p {
    font-style: italic;
    font-size: $small-font-size;
  }
}
