$base-font-family: 'Open Sans', sans-serif;
$code-font-family: Menlo, Monaco, Consolas, monospace;
$base-font-size:   16px;
$base-font-weight: 300;
$small-font-size:  0.875rem;
$base-line-height: 1.5;

$spacing-unit:     2rem;
$max-width:        48rem;

$nav-height:       2.5rem;
$nav-item-spacing: 2rem;

$text-color:       #333;
$background-color: #fff;
$link-color:       #0645ad;

$grey-color:       #aaa;
$grey-color-light: lighten($grey-color, 25%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$on-mobile:        600px;

$highlight-color:  #FDA92E;

$nav-background-color: white;
