<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="page-content">
      {{ content }}
      <div class="copyright">
        <p>
          &copy; {{ site.time | date: '%Y' }}
          <a href="{{ site.baseurl | prepend: site.url }}" title="{{ site.description }}"><strong>{{ site.title }}</strong></a>
        </p>
      </div>
    </div>
    {% include google_analytics.html %}
    <script src="{{ "/assets/bundle.js" | prepend: site.baseurl }}?bust={{ site.time | date: '%s' }}" type="text/javascript" async defer></script>
  </body>
</html>
